footer {
    background: linear-gradient(to right, #ff8a00, #da1b60);
    color: #fff;
    padding: 50px;
    height: 40vh;
    display: flex;
    justify-content: space-between;
}

.about {
    flex-basis: 30%;
}

.about h3 {
    font-size: 1.7rem;
    margin-bottom: 20px;
}

.about p {
    font-size: 1.3rem;
    line-height: 1.5;
}

.social {
    flex-basis: 30%;
}

.social h3 {
    font-size: 1.7rem;
    margin-bottom: 20px;
}

.social ul {
    display: flex;
    list-style: none;
}

.social ul li + li {
    margin-left: 20px;
}

.social a {
    color: #fff;
    font-size: 1.5rem;
}

.contact {
    flex-basis: 30%;
}

.contact h3 {
    font-size: 1.7rem;
    margin-bottom: 20px;
}

.contact form input,
.contact form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    background: transparent;
    border-bottom: 2px solid #fff;
    color: #fff;
}

.contact form textarea {
    height: 100px;
}

.contact form button {
    border: none;
    padding: 10px 20px;
    background: #fff;
    color: #da1b60;
    cursor: pointer;
    font-size: 1.2rem;
}