.post-container {
    background-color: #f2f2f2;
    padding: 2rem;
    box-shadow: 0 0 5px #ccc;
}

.post-header {
    text-align: center;
}
    
.post-header h2 {
    font-size: 2.5rem;
    color: #2b2b2b;
}

.post-content {
    display: flex;
    align-items: flex-start;
    margin-left: 150px;
}

.post-details {
    margin-left: 55px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 55%
}

.post-details h2 {
    font-size: 42px;
    color: #2b2b2b;
}

.post-details h3 {
    font-size: 40px;
    color: #2b2b2b;
    margin-bottom: 5px;
    margin-top: 5px;
}

.post-details h4 {
    font-size: 28px;
    color: #2b2b2b;
    font-weight: 500;
    margin: 0;
}

.details-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.details-section h2 {
    font-size: 40px;
    color: #2b2b2b;
}

.details-section h3 {
    font-size: 28px;
    color: #2b2b2b;
    font-weight: 500;
    margin: 0;
}

.button-image-div {
    margin-top: 50px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 180px;
    padding: 0 0 0 5px;
}

.button-image-div div {
    width: 100%;
}

.post-button {
    width: 100%;
    margin-bottom: 5px;
    height: 60px;
    border: 2px solid #fff;
    background-color: #da1b60;
    color: #fff;
    cursor: pointer;
}

.seller-profile {
    margin-top: 10px;
    display: flex;
}
    
.profile-avatar {
    width: 100px; 
    height: 100px;
    border-radius: 5%;
    margin-top: 50px;
    margin-left: 15px;
    cursor: pointer;
}
    
.seller-details {
    margin-top: 10px;
    margin-left: 10px;
}

.seller-details h3 {
    font-size: 26px;
    color: #2b2b2b;
}
    
.seller-details h5 {
    font-size: 18px;
    color: #2b2b2b;
    margin: 0;
}